/**
 * @name Poison & Venom
 * @author Demonwing
 * @description Purple and Green theme for discord
 */
:root {
    --primary-text-color: rgb(255, 255, 255);
    
    --primary-color: 0, 0, 0;
    --color1: 0, 255, 0; 
    --color2: 255, 0, 255; 
    --color3: 0, 255, 255; 
    --color4: 0, 120, 0; 
    --sub-color4: 56, 171, 111; 
    --sub-primary-color: rgba(var(--primary-color), 0.9);
    --dark-primary-color: rgba(var(--primary-color), 1);
    --light-primary-color: rgba(var(--primary-color), 0.6);
    --neon-color1: rgba(var(--color1), 1);
    --neon-color2: rgba(var(--color2), 1);
    --neon-color3: rgba(var(--color3), 1);
    --neon-color4: rgba(var(--color4), 1);
    --light-neon-color1: rgba(var(--color1), 0.5);
    --light-neon-color2: rgba(var(--color2), 0.65);
    --light-neon-color3: rgba(var(--color3), 0.5);
    --light-neon-color4: rgba(var(--color4), 1);
    --dark-neon-sub-color4: rgb(var(--sub-color4));

    /* coloring variables */
    --brand-experiment: var(--neon-color1);
    --brand-experiment-500: rgba(var(--color1), 0.65);
    --brand-experiment-560: rgba(var(--color1), 0.70);
    --brand-experiment-600: rgba(var(--color1), 0.80);
    --modal-background: var(--dark-primary-color);
    --modal-footer-background: var(--light-primary-color);
    --header-primary: var(--neon-color2);
    --header-secondary: var(--light-neon-color2);
    --search-popout-option-fade: var(--sub-primary-color);
    --background-floating: var(--sub-primary-color);
    --background-modifier-accent: var(--light-neon-color1);
    --interactive-hover: var(--light-neon-color2);
    --info-warning-foreground: var(--neon-color3);
    --background-mentioned: rgba(var(--color3), 0.1);
    --interactive-active: var(--neon-color3);
    --search-popout-date-picker-hint-value-background-hover: rgba(var(--color1), 0.8);
    --button-secondary-background: rgba(var(--color2), 0.75);
    --__lottieIconColor: var(--neon-color2);
    --background-gradient-high: var(--background-secondary);
    --background-gradient-chat: black;
    --background-gradient-app-frame: var(--dark-primary-color);

    /*custom variables */
    --custom-theme-text-color: var(--primary-text-color);
    --custom-theme-base-color-hsl: 200 30% 20%;

    --custom-theme-base-ammount: 0% !important;
    --custom-theme-text-color-amount: 50%;

    --custom-theme-border-color: var(--neon-color2);
    --custom-theme-border-color-amount: 50%;

    --custom-theme-base-color: var(--dark-primary-color);
    --custom-theme-base-color-amount: 100%;
  }

  /* google fonts */
  ::-webkit-input-placeholder, body, button, input, select, textarea {
      font-family: var(--font-primary);
  }

  /*
      TOP BAR WITH CHANNEL INFO AND ICONS
   */

   /* Top center bar with channel info */
  .title_f75fb0 {
      background: black !important;
      border-bottom: 2px solid var(--neon-color1);
      box-sizing: border-box;
  }

   /* Top bar icons margin */
  .toolbar__9293f {
      margin-right: 1rem;
  }

   /* Top center bar icons and channel name color */
  .topic__6ec1a ,
  #app-mount .upperContainer__9293f svg {
      color: var(--neon-color2);
  }

  /* Channel description */
  .children__9293f .topic__6ec1a {
      color: var(--light-neon-color3);
  }

  .topic__6ec1a  {
    font-family: var(--font-primary);
  }

   /* Right top search bar */
  .searchBar__97492 {
    background: var(--dark-primary-color);
    border: 1px solid var(--light-neon-color1);
    border-radius: 0;
  }

  .layerContainer__59d0d .layer__59d0d .container__55c99 {
    background: var(--sub-primary-color) !important;
  }

  .container__55c99 .resultsGroup__56fec {
    background: var(--dark-primary-color);
    color: var(--light-neon-color1) !important;
  }

   /* Calendar in search input */
  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker {
    background: rgba(var(--primary-color), 0.2);
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__month-container {
    background: rgba(var(--primary-color), 0.2);
  }

   /* Calendar header */
  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__header {
    background: var(--light-primary-color);
    border-bottom: 1px solid var(--neon-color1);
    color: var(--neon-color4) !important;
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__week div[aria-disabled="true"] {
    background: rgba(var(--color1), 0.05);
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__month div {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__month div[aria-disabled="true"] {
    color: rgba(var(--color1), 0.5);
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__month .react-datepicker__day--outside-month {
    background: rgba(var(--color4), 0.25);
  }

  .layerContainer__59d0d .calendarPicker_d27f17 .react-datepicker .react-datepicker__current-month .react-datepicker__day span{
    color: var(--neon-color4) !important;
  }

  /* Mailbox popup */
  .layerContainer__59d0d .container__95796 {
    background: var(--light-primary-color);
  }

  .layerContainer__59d0d .container__95796 .header_ab6641 {
    background: var(--sub-primary-color);
    border-bottom: 1px solid var(--neon-color1);
  }

  /* Top right bar quotes */
  .layerContainer__59d0d .browser_d98031 {
    background: var(--light-primary-color);
  }

  .layerContainer__59d0d .header_d9c882 {
    background: var(--sub-primary-color);
    border-bottom: 1px solid var(--neon-color1);
  }

  .layerContainer__59d0d .container__1b24f > button {
    background: var(--neon-color1);
  }

  .layerContainer__59d0d .container__1b24f > button:hover {
    background: var(--light-neon-color1);
  }

  .layerContainer__59d0d .header_d9c882 button {
    background: var(--neon-color1);
  }

  .layerContainer__59d0d .header_d9c882 button:hover {
    background: var(--light-neon-color1);
  }

  /* Pinned messages popup */
  .layerContainer__59d0d .messagesPopoutWrap_e8b59c {
    background: var(--light-primary-color);
  }

  .layerContainer__59d0d .header_e8b59c,
  .layerContainer__59d0d .footer_e8b59c {
    background: var(--sub-primary-color);
  }

  .layerContainer__59d0d .messageGroupCozy_e8b59c {
    background: black;
  }

  /* Alert at top to accept terms */
  .layers__960e4 .base__5e434 .notice__30f28 {
    background: var(--neon-color1);
  }

  .layers__960e4 .base__5e434 .notice__30f28 > button:hover{
    background: var(--light-neon-color3);
  }

  .wrapper__44df5 .buttonContainer__44df5 > button {
    background: var(--neon-color1);
  }

  .wrapper__44df5 .buttonContainer__44df5 > button:hover {
    background: var(--light-neon-color1);
  }

   /* Top left server name color */
  .headerContent_f37cb1 {
    color: var(--neon-color2);
    font-family: var(--font-primary);
  }

   /* Top left bar with server name - background */
  #app-mount .header_f37cb1 {
    background: black;
    border-bottom: 2px solid var(--neon-color1);
    padding: 11px;
  }

  /* Server options popup */
  .theme-dark .layer__59d0d .menu_c1e9c4 {
    background: var(--dark-primary-color);
    border: 1px solid var(--neon-color1);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .layerContainer__59d0d .layer__59d0d .menu_c1e9c4 .separator_c1e9c4 {
    background: var(--light-neon-color1);
  }

  /* Hovered item in server settings popup */
  .layerContainer__59d0d .layer__59d0d .menu_c1e9c4 .focused_c1e9c4 {
    background: var(--light-neon-color1);
  }

  /* Invite people option */
  .layerContainer__59d0d .layer__59d0d .menu_c1e9c4 .colorBrand_c1e9c4 {
    color: var(--neon-color2);
  }

  /* Invite people popup */
  .layerContainer__59d0d .wrapper__67dba .modal__67dba {
    background: var(--light-primary-color);
  }

  .layerContainer__59d0d .wrapper__67dba .flex__7c0ba {
    background: var(--dark-primary-color);
  }

   /* Server  options popups header */
  .layerContainer__59d0d .focusLock-2tveLW .modal-1Kmy_E .header-o8wV_s h2 {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .layer-1Ixpg3 .flexChild__7c0ba h3 {
    color: var(--neon-color2);
  }


   /* Channel category bar */
  .mainContent__29444 {
    position: relative;
    box-sizing: border-box;
    height: 34px;
    padding-right: 8px;
    padding-left: 16px;
    box-shadow: inset 0px 0px 0px 1px var(--light-neon-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    border-bottom-right-radius: 10px;
    font-weight: bold !important;
    margin-bottom: 15px;
  }

   /* Channels container */
  .wrapper__2ea32 {
    background: var(--dark-primary-color);
    margin-left: 18px;
    padding: 0 6px;
  }

  /* Category and hash name color */
  .content__99f8c .wrapper__29444,
  .name__29444 {
    font-weight: 700;
    color: var(--neon-color1);
  }

  .mainContent__29444 {
    background: black;
  }

  /* Adding channel icon */
  .children__29444 svg {
    color: var(--neon-color3);
  }

   /* Channel name color */
  .name__2ea32 {
    color: var(--neon-color2);
  }
  .name__2ea32:hover {
    color: var(--color3)
  }

  /* Unread message in channel */
  .containerDefault_c69b6d .unread__2ea32 {
    background: var(--neon-color2);
  }

  .modeUnreadImportant__2ea32 .iconContainer__2ea32 .icon__2ea32 {
    color: var(--neon-color3);
  }

   /* Selected channel background color */
  .modeSelected__2ea32 .link__2ea32, .modeSelected__2ea32:hover .link__2ea32 {
    background: var(--light-neon-color1);
  }

  .wrapper__2ea32 {
      background: var(--light-primary-color);
  }

  .link__2ea32 {
      background: var(--dark-primary-color);
  }

  .modeSelected__2ea32 .link__2ea32 svg {
    color: var(--neon-color3);
  }


  /* Icons next to channel name */
  .iconContainer__2ea32 svg {
    color: var(--light-neon-color1);
  }

   /* Users in speaking channel */
  .containerDefault_c69b6d .voiceUser__07f91 .content__07f91 .username__07f91 {
    color: var(--light-neon-color2);
    font-weight: bold;
  }

  /* Speaking username lighter color */
  .containerDefault_c69b6d .voiceUser__07f91 .content__07f91 .usernameSpeaking__07f91 {
    color: var(--neon-color2);
  }

  /* Speaking user avatar color */
  .containerDefault_c69b6d .voiceUser__07f91 .content__07f91 .avatarSpeaking__07f91{
    box-shadow: inset 0 0 0 2px var(--light-neon-color4);
  }

  /* Live badge next to username */
    .containerDefault_c69b6d .list_c3cd7d .icons__07f91 .liveSmall_a7acae {
      background: var(--neon-color1) !important;
    }
  /* servers and windows bar */
  .wrapper_ef3116,
  .titleBar__421ed {
    background: black;
  }

  /* main chat container*/

  /* Input message */
  .channelTextArea_f75fb0,
  .scrollableContainer__74017
  {
    border-radius: 0;
    background: var(--sub-primary-color);
    border-bottom: 1px solid var(--neon-color1);
  }

   /* Usernames font */
  .username_c19a55 {
    font-weight: bold;
  }

  /* Input icons */
  .buttons__74017 svg {
    color: var(--light-neon-color2);
  }

  .spriteGreyscale__04eed {
    background-color: var(--light-neon-color2);
  }

  /* Slash inside main input popup */
  .autocompleteInner__13533,
  .autocompleteInner__13533 .rail_d1405b .wrapper__4106a,
  .categoryHeader_d1405b {
    background: var(--sub-primary-color);
  }

  /* Reaction emote background */
  .chatContent_f75fb0 .container_b7e1cb .reaction_f8896c {
    background: var(--sub-primary-color);
  }

  /* Delete message popup */
  .layerContainer__59d0d .layer-1Ixpg3 .message_fd14e0 {
    background: none;
  }

  .channelTextArea__5126c .scrollableContainer__74017 {
    background: var(--sub-primary-color);
  }

  .contents_c19a55 .operations_bab751 {
    color: var(--light-neon-color2);
  }

  .contents_c19a55 .operations_bab751 a {
    color: var(--neon-color2);
    font-weight: bold;
  }

  /* Emotes menu after clicking on message */
  .wrapper_c0e32c .emojiPicker_c0e32c,
  .wrapper_c0e32c .header_c0e32c,
  .wrapper_c0e32c .unicodeShortcut_b9ee0c,
  .wrapper_c0e32c .header_c656ac,
  .scroller_affa7e {
    background: var(--sub-primary-color);
  }

  /* Emotes menu */
  .contentWrapper__08434,
  .contentWrapper__08434 .header_c656ac {
    background-color: var(--sub-primary-color);
  }

  .contentWrapper__08434 .nav__08434 button {
    color: var(--neon-color2) !important;
  }

  .contentWrapper__08434 .nav__08434 button[aria-selected="true"] {
    background: transparent !important;
    color: var(--neon-color3) !important;
    text-shadow: 0px 0px 25px var(--light-neon-color3);
  }

  .contentWrapper__08434 .wrapper__4106a,
  .wrapper_c0e32c .emojiPicker_c0e32c .header_c656ac {
    background: var(--dark-primary-color);
    border-bottom: 1px solid var(--light-neon-color1);
  }

  .contentWrapper__08434 .wrapper__4106a .header_c0e32c,
  .emojiPicker_c0e32c .header__14245 {
    color: var(--neon-color4);
  }

  .contentWrapper__08434 .header_c656ac .inner_fea832,
  .contentWrapper__08434 .container_fea832 .inner_fea832,
  .contentWrapper__08434 .header_fed6d3 .inner__999f6,
  .wrapper_c0e32c .emojiPicker_c0e32c .inner_fea832 {
    background: var(--light-primary-color) !important;
    border-bottom: 1px solid var(--neon-color2);
  }

  .contentWrapper__08434 .categorySection_c656ac {
    background: var(--light-primary-color);
  }

  .contentWrapper__08434 .categoryList_c0e32c,
  .contentWrapper__08434 .inspector_aeaaeb,
  .contentWrapper__08434 .list-obNEuP,
  .wrapper__4106a .list-obNEuP,
  .wrapper__4106a .unicodeShortcut_b9ee0c,
  .emojiPicker_c0e32c .inspector_aeaaeb {
    background: var(--dark-primary-color) !important;
  }

  .contentWrapper__08434 .inspector_aeaaeb,
  .emojiPicker_c0e32c .inspector_aeaaeb {
    border-top: 1px solid var(--neon-color4);
  }

   /* No stickers uploaded to server */
  .contentWrapper__08434 .wrapper_e94b8c .emptyGuildUpsell_e94b8c {
    background: var(--sub-primary-color) !important;
  }

  /* Message reply */
  .cozy_c19a55 .repliedMessage_c19a55:before {
    border-color: var(--neon-color2);
  }

  .container__841c8 .replyBar__841c8 {
    background: var(--light-neon-color2);
  }

  .container__841c8 .replyBar__841c8 .replyLabel__841c8 {
    color: white !important;
  }

  /* New messages alert at top of the screen */
  .messagesWrapper__36d07 .newMessagesBar__0f481 {
    background: var(--dark-neon-sub-color4);
  }

  /* Jump to new messages */
  .messagesWrapper__36d07 .jumpToPresentBar__0f481 {
    background: var(--dark-neon-sub-color4);
  }

  /* New thread right side popup */
  .container__01ae2 .container_fb64c9 .chat_fb64c9 {
    background: var(--sub-primary-color);
  }

  .container__01ae2 .container_fb64c9 .container__9293f {
    background: black;
    border-bottom: 1px solid var(--neon-color1);
  }

  /* Welcome message at new channel */
  .chatContent_f75fb0 .content-2a4AW9 .container__00de6 h1 {
    color: var(--neon-color2);
  }

   /* Code template */
  .markup__75297 code {
    background: var(--dark-primary-color);
  }

   /* Embed messages */
  .container_b7e1cb .embedWrapper_b7e1cb .grid__623de {
    background: var(--dark-primary-color);
  }

   /* File download */
  .container_b7e1cb .messageAttachment__5dae1 .attachment__0ccae {
    border-color: var(--light-neon-color1);
  }

  /* File name color download */
  .container_b7e1cb .messageAttachment__5dae1 .attachment__0ccae .filenameLinkWrapper__0ccae a {
    color: var(--neon-color2);
  }

   /* File background */
  .container_b7e1cb .messageAttachment__5dae1 .attachment__0ccae {
    background: black;
  }

   /* TimeStamp in messages */
  .timestamp_c19a55 time {
    color: var(--neon-color3);
  }

   /* Messages divider bar color */
  .divider__5126c {
    background: var(--neon-color1);
  }

  .divider__5126c .unreadPillCap__908e2 {
    display: none;
  }

   /* Messages divider date color and background */
  .divider__5126c span {
    color: var(--neon-color3);
    background: var(--dark-primary-color);
  }

   /* Txt file preview */
  .textContainer__4d95d code,
  .footer__4d95d {
    background: var(--dark-primary-color);
  }

   /* Avatars in message section */
  .avatar_c19a55 {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--neon-color1);
  }

  /* Message action icons */
  .wrapper_f7ecac svg {
    color: var(--neon-color4);
  }

  /* Main container with messages */
  .messagesWrapper__36d07 {
    margin-bottom: 1rem;
  }

  /* profile controls*/
  .panels__5e434 {
    background: black !important;
    border-top: 1px solid var(--neon-color1);
    padding-top: .25rem;
  }

  .container__37e49,
  .container_e131a9,
  .theme-dark .panel__5dec7 {
    background: black !important;
  }

  /* Profile name color */
  .panels__5e434 .title_b6c092 {
    color: var(--neon-color3);
  }

   /* Controlls icons color  */
  .panels__5e434 .button__67645 {
    color: var(--neon-color2);
  }

  .button_e131a9 {
      --border-faint: var(--neon-color2);
  }

   /* Currently speaking avatar border */
  .containerDefault_c69b6d .voiceUser__07f91 .content__07f91 .avatarSpeaking__07f91 {
    box-shadow: inset 0 0 0 2px var(--neon-color3) !important;
  }

  /* Actions buttons */
  .actionButtons_e131a9 svg {
    color: var(--neon-color2);
  }

  /* Soundboard */
  #popout_208 .picker__09f65,
  #popout_208 .wrapper__6c798,
  #popout_208 .wrapper__4106a {
    background: var(--sub-primary-color);
  }

  #popout_208 .container_fea832 {
    background: var(--light-primary-color) !important;
    border-bottom: 1px solid var(--neon-color2);
  }

  #popout_208 .sectionTitle__61424 {
    color: var(--neon-color2);
  }

  #popout_208 .soundAddButton_da9eb2 {
    background: black;
    border: 1px solid var(--neon-color1) !important;
  }

  #popout_208 .soundButton__9be63 {
    background: black;
    border: 1px solid var(--light-neon-color2);
  }

  /* Friends status */
  .container_c8ffbb
  .members_c8ffbb
  .container__13cf1{
    font-family: var(--font-primary);
    font-weight: bold;
    letter-spacing: .15rem;
    color: var(--neon-color1);
  }

  .member_c8ffbb,
  .members_c8ffbb,
  .member__5d473,
  .members_c8ffbb {
    background: none;
  }

  /* Popups*/
  .userProfileInnerThemedNonPremium_c69a7b {
    background: var(--sub-primary-color);
  }

  .userProfileInnerThemedNonPremium_c69a7b .role_dfa8b6 {
    border-bottom: 1px solid var(--neon-color2);
  }

  .userProfileInnerThemedNonPremium_c69a7b .userPopoutOverlayBackground_c69a7b {
    background: var(--dark-primary-color);
  }

  .userProfileInnerThemedNonPremium_c69a7b .rolePill_fa2f72 {
    background: var(--sub-primary-color);
  }

  .userProfileInnerThemedNonPremium_c69a7b .divider_e6f9ab {
    background: var(--light-neon-color1);
  }

  /* About me */
  .layerContainer__59d0d .overlayBackground-1KgwVi .markup__75297 > div {
    color: var(--light-neon-color2);
  }

  /* Member since */
  .userProfileInnerThemedNonPremium_c69a7b .memberSinceContainer__16630 svg {
    color: var(--neon-color4);
  }

  .userProfileInnerThemedNonPremium_c69a7b .memberSinceContainer__16630 {
    color: var(--light-neon-color4);
  }

  .userProfileInnerThemedNonPremium_c69a7b .section_d7a21f h2,
  .userProfileInnerThemedNonPremium_c69a7b .section_d7a21f span {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi .userText-148fun .userTagNoNickname-2MJ9HD span:nth-child(2) {
    color: var(--light-neon-color2);
  }

  /* Spotify - user popup */
  .layerContainer__59d0d .overlayBackground-1KgwVi .button__6e0e0 {
    background: var(--dark-neon-sub-color4);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi .timeBarUserPopoutV2_c1d9fd .barInner_c8b06d {
    background: var(--neon-color2);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi .content__2ef49 {
    color: var(--neon-color4);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi .content__2ef49 a {
    color: var(--neon-color2);
  }

  /* User popup - streaming to x-channel */
  .layerContainer__59d0d .overlayBackground-1KgwVi .overflow_b0dfc2 {
    color: var(--neon-color1);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi .userText-148fun .userTagWithNickname-3-znkC span {
    color: var(--light-neon-color2);
  }

  .layerContainer__59d0d .overlayBackground-1KgwVi h3[data-text-variant="eyebrow"] {
    color: var(--neon-color1);
  }

  /* Playing a game */
  .layerContainer__59d0d .activityUserPopoutV2_c1d9fd .bodyNormal__2ef49 .contentImagesUserPopoutV2_c1d9fd .activityName__2ef49,
  .layerContainer__59d0d .activityUserPopoutV2_c1d9fd .bodyNormal__2ef49 .contentImagesUserPopoutV2_c1d9fd .details__2ef49{
    color: var(--neon-color2);
  }

  /* Whole profile popup */
  .layer__59d0d .userProfileOuterUnthemed_c69a7b .userPopoutOverlayBackground_c69a7b {
    background: var(--sub-primary-color)
  }

  .layer__59d0d .userProfileInnerThemedNonPremium_c69a7b {
    background: var(--light-primary-color)
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b {
    border-bottom: 2px solid var(--neon-color1);
  }

  /* Username color of popup */
  .layer__59d0d .userProfileOuterUnthemed_c69a7b .userText_c9ccf6 span:first-child {
    color: var(--neon-color2);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .userText_c9ccf6 span:nth-child(2) {
    color: var(--neon-color1);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .tabBar-2hXqzU {
    border-bottom: 1px solid var(--light-neon-color1);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: var(--font-primary);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .tabBar-2hXqzU .tabBarItem_b9fccc {
    color: var(--neon-color4);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .tabBar-2hXqzU .selected_aa8da2 {
    color: var(--neon-color3);
    border-bottom-color: var(--neon-color3) !important;
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .userInfoSection-2u2hir h1 {
    color: var(--neon-color2);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 {
    background: rgba(0,0,0, 0.5);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 .userInfoSection-2u2hir > h3 {
    font-family: var(--font-primary);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 .connectedAccounts-fvr7-7 .connectedAccountsColumn-2LgTkZ {
    border-bottom: 1px solid var(--neon-color2);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 .connectedAccounts-fvr7-7 .connectedAccountsColumn-2LgTkZ div {
    background: var(--sub-primary-color);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 .connectedAccountContainer_e6abe8 {
    background: var(--sub-primary-color);
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .nameTag-2Nlmsy {
    font-family: var(--font-primary);
    font-weight: bold;
  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .tabBarContainer-sCZC4w .item-3XjbnG  {
    font-weight: bold;

  }

  .layer__59d0d .userProfileOuterUnthemed_c69a7b .body-1Ukv50 .userInfoSection-2u2hir a {
    color: var(--neon-color4);
  }

  /* Roles and notes popup colors */
  .bodyInnerWrapper-2bQs1k h3 {
    color: var(--neon-color2) !important;
  }

  /* Adding roles popup */
  .layer__59d0d .container-2O1UgZ {
    background: var(--sub-primary-color);
    border: 1px solid var(--neon-color1);
    border-radius: 0;
  }

  /* User roles badges */
  .layer__59d0d .layer__59d0d .rolesList-3uZoaa .role_dfa8b6 {
    border-bottom: 1px solid var(--dark-primary-color);
  }

  /* server list */

  .scroller_ef3116 {
    background: black;
  }

   /* Active server thin left bar */
  .scroller_ef3116 .bd-selected span{
    background: var(--neon-color2);
  }

  /* Add server and discover public servers icons*/
  .childWrapper__6e9f8 .circleIconButton__5bc7e svg,
  .listItemWrapper__91816 .circleIconButton__5bc7e svg {
    color: var(--neon-color1);
  }

  /* Hover over icons */
  .childWrapper__6e9f8 .childWrapper__6e9f8,
  .warpper__6e9f8 .selected__6e9f8 .childWrapper__6e9f8 {
    background-color: var(--neon-color3) !important;
  }

  /* Discord logo color */
  .childWrapper__6e9f8 {
    color: var(--neon-color1) !important;
  }

  .listItemWrapper__91816 .childWrapper__0d706 {
    background: none !important;
  }

  /* New message from user */
  .wrapper_cc5dd2 .lowerBadge-3WTshO .numberBadge__2b1f5 {
    background: var(--neon-color2) !important;
    color: black;
  }

  /* Unread message */
  .listItem__650eb .pill_ed9a5f .item__58105 {
    background: var(--neon-color1);
  }

   /* Text on whole discord, messages etc. */
  .theme-dark,
  .theme-light {
    --text-normal: var(--primary-text-color);
  }

  .theme-dark .focused__55c99,
  .theme-light .focused__55c99{
    background: var(--dark-primary-color);
  }

  .theme-dark .autocomplete__13533 {
    background: var(--dark-primary-color);
  }

   /* Button - go to public servers list */
  #bd-pub-button:hover {
    background: var(--light-neon-color1);
  }

  /* start up view */

   /* Friends list container */
  .container__133bf .peopleColumn__133bf {
    background: linear-gradient(180deg, rgba(23,0,5,1) 12%, rgba(0,0,0,1) 67%);
  }

  .container__133bf .container__9293f {
    background: black;
    box-sizing: border-box;
    border-bottom: 2px solid red;
  }

  /* Friends icons */
  .listItemContents_fc004c .actions_fc004c svg {
    color: var(--neon-color2);
  }

  .theme-dark .children__9293f:after {
    background: none;
  }

  .container__133bf .peopleColumn__133bf .inner__999f6 {
    background: var(--sub-primary-color);
    border-bottom: 1px solid var(--neon-color2);
  }

  /* Left side - friends, nitro, message requests, shop */
  .base__5e434 .scroller__99e7c .name__20a53 {
    color: var(--neon-color2);
  }

  .base__5e434 .scroller__99e7c .linkButtonIcon__972a0 {
    color: var(--neon-color3);
  }

  /* Current friends online counter */
  .container__133bf .peopleColumn__133bf .title__1472a {
    color: var(--neon-color2);
  }

  /* Active friends in game etc. */
  .container__7d20c h3 {
    color: var(--neon-color2) !important;
  }

  .container__7d20c .itemCard__7e549 {
    border-color: var(--light-neon-color1);
  }

  .container__7d20c .itemCard__7e549 .activitySection__00943 div {
    color: var(--neon-color2) !important;
  }

  .body__00943 .section__00943 {
    background: var(--dark-primary-color);
  }

  /* No activity among friends */
  .container__7d20c .emptyCard__7e549 {
    background: var(--dark-primary-color);
  }

  .container__7d20c h5 {
    color: var(--neon-color1);
  }

  /* Find or start call button */
  .base__5e434 .sidebar__5e434 .searchBar_e6b769 {
    border-bottom: 2px solid var(--neon-color1);
    background: black;
    box-sizing: border-box;
  }

  .base__5e434 .sidebar__5e434 .searchBar_e6b769 button {
    border-bottom: 1px solid var(--neon-color2);
    background: var(--dark-primary-color);
  }

  /* Private messages list of users on left side */
  .base__5e434 .scroller__99e7c .channel__972a0 {
    background: black;
    margin-bottom: .25rem;
    border: 1px solid rgba(var(--color1), .15);
    border-bottom-right-radius: 10px;
  }

  .base__5e434 .scroller__99e7c .channel__972a0 .selected_bf202d {
    border: 1px solid var(--neon-color1);
    border-bottom-right-radius: 10px;
    background: var(--dark-primary-color);
  }

  /* Private messages header */
  .privateChannelsHeaderContainer__99e7c .headerText__99e7c {
    color: var(--neon-color2);
  }

  /* Someone's typing dots */
  .chatContent_f75fb0 .typingDots_b88801 .text_b88801 {
    color: var(--neon-color2);
  }

  /* Search channels and private messages */
  .focusLock-2tveLW .container_ac6cb0 {
    background: black !important;
  }

  .focusLock-2tveLW .container_ac6cb0 .quickswitcher_ac6cb0 > input{
    border-bottom: 1px solid var(--neon-color1);
  }

  /* Nitro page*/
  .homeWrapperNormal__0920e .headerBar__0920e {
    background: black;
    box-sizing: border-box;
    border-bottom: 2px solid var(--neon-color1);
  }

  .homeWrapperNormal__0920e .mainPageScroller_ca1a02 {
    background: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
  }

  .theme-dark .card_b5493b {
    background: var(--dark-primary-color);
  }

  .homeWrapperNormal__0920e .giftNitro_ca1a02 .textContainer_da4aee {
    background: var(--sub-primary-color);
  }

  /* request page*/
  .chat_f75fb0 .container__9293f {
    background: black;
    box-sizing: border-box;
    border-bottom: 2px solid var(--neon-color1);
  }

  .chat_f75fb0 .content_f75fb0 {
    background: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
  }

  .chat_f75fb0 .content_f75fb0 .sectionTitle_f391e3 {
    color: var(--neon-color3);
  }

  .chat_f75fb0 .content_f75fb0 .messageRequestItem_abb9ad {
    background: black;
    border: 1px solid var(--neon-color2);
    border-radius: 10px;
  }

  /* Opened message request */
  .theme-dark .themed__9293f {
    background: black !important;
    border-bottom: 2px solid var(--neon-color1);
  }


  /* shop page*/
  .shop__6db1d .container__9293f {
    background: black;
    box-sizing: border-box;
    border-bottom: 2px solid var(--neon-color1);
  }

  .shop__6db1d .page__6db1d {
    background: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
  }

  .shop__6db1d .shopCard_c3d04b {
    border-color: var(--neon-color2) !important;
  }

  .shop__6db1d .shopCard_c3d04b .cardBackground_c3d04b {
    background: black;
  }



  /* boost page*/
  .layer__59d0d .perksModal-CLcR1c {
    background: linear-gradient(180deg, rgba(23,0,5,1) 10%, rgba(0,0,0,1) 65%);
  }

  /* Server boost header */
  .layerContainer__59d0d .perksModal-CLcR1c .perksModalContentWrapper-3RHugb .headerLogo-2M4f14 {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .perksModal-CLcR1c .perksModalContentWrapper-3RHugb .actions-b9dB88 .shinyButton_d5e126 {
    background: var(--neon-color1);
  }

  .layerContainer__59d0d .perksModal-CLcR1c .perksModalContentWrapper-3RHugb .actions-b9dB88 .shinyButton_d5e126:hover {
    background: var(--light-neon-color1);
  }

  /* Nitro levels progress bar */
  .layerContainer__59d0d .perksModal-CLcR1c .content-2O_Vsy .progressBar-20NUv9 div:first-child{
    background: var(--neon-color1);
  }

  /* Nitro selected level */
  .layerContainer__59d0d .perksModal-CLcR1c .content-2O_Vsy .progressBar-20NUv9 .tierMarkerContainer-18QTgJ .tierMarker-Vw1C95 {
    background: var(--light-neon-color1) !important;
  }

  .layerContainer__59d0d .perksModal-CLcR1c .content-2O_Vsy .progressBar-20NUv9 .tierMarkerContainer-18QTgJ .tierMarkerLabelPlusIcon-2zLkr7 {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .perksModal-CLcR1c .content-2O_Vsy h3 {
    color: var(--neon-color2);
  }

  .layerContainer__59d0d .perksModal-CLcR1c .carouselContainer-3eVO-H .tierHeader-wgo0w_ {
    background: linear-gradient(90deg, rgba(125,0,5,1) 0%, rgba(0,0,0,1) 100%);
  }

  .layerContainer__59d0d .perksModal-CLcR1c .carouselContainer-3eVO-H .tierBody-3ju-rc {
    background: var(--dark-primary-color);
  }

  /* Nitro awards */
  .layerContainer__59d0d .perksModal-CLcR1c .content-2O_Vsy .perks-BtAudq > li {
    background: var(--dark-primary-color);
    border: 1px solid var(--neon-color1);
  }

  /* create server popup*/
  .theme-light .container-1Lk8p7,
  .theme-light .container-1Lk8p7 .flex__7c0ba {
    background: var(--dark-primary-color);
    box-shadow: none;
  }

  .theme-light .container-1Lk8p7 h3 {
    color: var(--neon-color3);
  }

  .theme-light .container-1Lk8p7 div[data-text-variant="text-md/normal"] {
    color: var(--primary-text-color) !important;
  }

  .theme-light .container-1Lk8p7 button[class="container-x8Y1ix"] {
    background: var(--light-neon-color1);
    transition: all .2s;
  }

  .theme-light .container-1Lk8p7 button[class="container-x8Y1ix"]:hover {
    background: var(--neon-color1);
  }

  .theme-light .container-1Lk8p7 .footerButton-24QPis {
    background: var(--neon-color4);
  }

  .theme-light .container-1Lk8p7 .flex__7c0ba button:hover {
    background: var(--dark-neon-sub-color4);
  }

  /* settings */
  .standardSidebarView__23e6b {
    --background-tertiary: var(--dark-primary-color);
    --background-secondary-alt: var(--dark-primary-color);
    --background-modifier-selected: var(--dark-primary-color);
    --input-background: var(--dark-primary-color);
    --deprecated-card-bg: var(--dark-primary-color);
    --header-secondary: var(--primary-text-color);
  }

  /* Selected tab in settings */
  .topPill_aa8da2 .themed_aa8da2.selected_aa8da2.item_aa8da2, .side_aa8da2 .themed_aa8da2.selected_aa8da2.item_aa8da2 {
    border-bottom: 1px solid var(--neon-color3);
  }

  .standardSidebarView__23e6b .sidebar__23e6b .side_aa8da2 div[role="button"] {
    color: var(--neon-color1);
  }

  .standardSidebarView__23e6b .sidebar__23e6b .side_aa8da2 div[role="tab"] {
    color: var(--neon-color2);
  }

  .standardSidebarView__23e6b .sidebar__23e6b .side_aa8da2 .selected-g-kMVV {
    color: var(--neon-color3) !important;
  }

  /* Authorized apps settings */
  .standardSidebarView__23e6b .authedApp__50a54 {
    background: var(--dark-primary-color);
  }

  /* Devices settings */
  .contentColumnDefault__23e6b .children__7bffb .sessions__803f2 .sectionTitle__7bffb h5 {
    color: var(--light-neon-color2);
  }

  .contentColumnDefault__23e6b .children__7bffb .sessions__803f2 .session__803f2 .sessionIcon__803f2 {
    color: var(--neon-color4);
    background: var(--sub-primary-color);
  }

  .contentColumnDefault__23e6b .children__7bffb .sessions__803f2 .session__803f2 .sessionInfo__803f2 .sessionInfoRow__803f2 span {
    color: var(--light-neon-color4);
  }

  .contentColumnDefault__23e6b .children__7bffb .sessions__803f2 .session__803f2 .sessionInfo__803f2 div[data-text-variant="text-sm/medium"] span {
    color: var(--dark-neon-sub-color4);
  }


  /* Billing settings */
  .theme-dark .paymentPane__01014,
  .theme-dark .bottomDivider__01014,
  .theme-dark .paginator__01014,
  .theme-dark .codeRedemptionRedirect_a706ba,
  .theme-dark .expandedInfo_e9cb00 {
    background: var(--dark-primary-color);
  }

  /* Better discord */
  .bd-button {
    background: var(--light-neon-color2);
  }

  .bd-button:hover {
    background: var(--neon-color2);
  }

  .bd-button-danger {
    background: var(--neon-color1) !important;
  }

  .bd-button-danger:hover {
    background: var(--light-neon-color1) !important;
  }

  .bd-view-button.selected {
    background: var(--neon-color4) !important;
  }

  .bd-empty-image-container {
    margin-top: 1rem;
    background: var(--sub-primary-color);
  }

  /* Better discord - themes */
  .contentColumnDefault__23e6b .bd-addon-card {
    border-bottom: 1px solid var(--neon-color2);
  }

  .bd-addon-header {
    color: var(--neon-color1) !important;
  }

  /* streaming */
  .videoWrapperAnimated_a21736 .flex__7c0ba {
    background: var(--sub-primary-color);
  }

  .videoWrapperAnimated_a21736 .header_c6e099 {
    color: var(--neon-color2);
  }

  .videoWrapperAnimated_a21736 .contents-3ca1mk {
    background: var(--neon-color1);
  }

  /* Streaming popup */
  .layer__59d0d .body__6da2d {
    background: var(--sub-primary-color);
  }

  .layer__59d0d .body__6da2d .flex__7c0ba button {
    border-color: var(--neon-color1) !important;
    color: var(--neon-color1);
  }

  .layer__59d0d .body__6da2d .protip__6da2d h3 {
    color: var(--neon-color4);
  }

  .layer__59d0d .body__6da2d .protip__6da2d div {
    color: white;
  }

  /* Stage */
  .callContainer__722ff .root_bfe55a {
    background: var(--light-primary-color);
  }

  .callContainer__722ff .root_bfe55a h3 {
    color: var(--neon-color2);
  }

  .callContainer__722ff .root_bfe55a .container__6b38f {
    background: var(--dark-primary-color);
  }

  .base__5e434 .container__722ff .scroller__56ccd,
  .base__5e434 .container__722ff .container-3r7mfc,
  .base__5e434 .container__722ff .rowContainer__1e702 {
    background: var(--light-primary-color) !important;
  }


  /* forums */

  /* Main forum channel with posts */
  .theme-dark .container_f369db {
    background: var(--sub-primary-color);

    --text-muted: var(--light-neon-color2);
    --text-brand: var(--neon-color4);
    --background-modifier-selected: var(--light-neon-color2);
  }

  /* Search posts form  */
  .theme-dark .container_f369db .form_d9be46 .titleContainer_d9be46 svg,
  .theme-dark .container_f369db .form_d9be46 .inputMaxLength-3n06SD textarea {
    color: var(--neon-color3) !important;
  }

  .theme-dark .container_f369db .form_d9be46 .inputMaxLength-3n06SD textarea::placeholder {
    color: var(--light-neon-color2) !important;
  }

  .theme-dark .container_f369db .matchingPostsRow_f369db h3 {
    color: var(--light-neon-color4) !important;
  }

  /* Search posts form - new post button */
  .theme-dark .container_f369db .form_d9be46 .titleContainer_d9be46 .submitButton_d9be46 {
    background: var(--neon-color4);
  }

  /* Shift + enter to create a new post */
  .startPostHelp_f369db .keyboardShortcut_f369db .key__61c93 {
    color: var(--dark-primary-color) !important;
    background: var(--neon-color4);
    box-shadow: inset 0 -4px 0 var(--dark-neon-sub-color4);
  }

  .startPostHelp_f369db .normal_dc00ef {
    color: var(--neon-color2) !important;
  }

  /* Sort & View and All badges */
  .theme-dark .container_f369db .sortDropdown_f369db,
  .theme-dark .container_f369db .tagsButton_f369db {
    background: var(--light-neon-color1);
  }

  /* Someone typing new comment in post */
  .theme-dark .container_f369db .typingDots_b88801 {
    color: var(--neon-color4);
  }

  /* Post title color */
  .theme-dark .container_faa96b .defaultColor__5345c {
    color: var(--neon-color3) !important;
  }

  /* Post badges - categories */
  .tag-19iIl1, .pill_a2c9e8 {
    --background-tertiary: var(--light-neon-color1) !important;
    --background-secondary-alt: var(--light-neon-color1) !important;
  }

  /* Selected category */
  .pill_a2c9e8.selected_a2c9e8 {
    border-color: var(--neon-color3) !important;
  }

  /* See more categories popup */
  #popout_5693 .container-2O1UgZ .combobox-3_6kOi {
    border: 1px solid var(--neon-color1);
  }

  .container__33507 {
    --background-tertiary: var(--dark-neon-red-color);
  }

  .selected-22ukbQ {
    --background-modifier-selected: var(--light-neon-color2);
  }

  .selected-22ukbQ:hover {
    background: var(--light-neon-color3) !important;
  }

  .selected-22ukbQ .text-md-semibold-3xVVGu {
    color: var(--neon-color2) !important;
  }

  /* Sort by activity */
  .layer__59d0d .sortPopout-zN4OCq  {
    --background-modifier-selected: var(--light-primary-color);
    border: 1px solid var(--neon-color1);
    margin-top: 1rem;
  }

  .popout-1KHNAq {
    background: var(--sub-primary-color);
  }

  /* events*/

  /* Create event modal */
  .theme-dark .separator__49fc1 {
    background: black;
  }

  .content__49fc1 {
    background: var(--light-primary-color) !important;
  }


  /* browser channels*/

  /* Header */
  .theme-dark .header__0b563, .theme-dark .themed__9293f {
    background: black;
    border-bottom: 2px solid var(--neon-color1);
  }

  /* Body page */
  .pageBody__41ed7 {
    background: var(--primary-color);
  }

  /* Category header */
  .categoryRow_e4503a .lineClamp1__92431 {
    color: var(--neon-color4) !important;
  }

  /* Category row */
  .channelRow_e4503a {
    background: var(--light-primary-color);
  }

  /* Create channel modal */
  .theme-dark .rootWithShadow__49fc1,
  .theme-dark .footerSeparator__49fc1,
  .modalContent-33IoUE {
    background: black !important;
  }

  /* members channel*/

  /* Members background */
  .theme-dark .page_c791b2 {
    background: var(--primary-color) !important;
  }

  /* Members div with tables */
  .theme-dark .container_c791b2, .theme-dark .page_c791b2 {
    background: transparent;
  }

  /* Members table */
  .mainTableContainer__09a38 {
    background: var(--light-primary-color);
  }

  /* Members header */
  .theme-dark .header_c791b2 {
    background: black;
    border-bottom: 2px solid var(--neon-color1);
  }


  /* scroller*/

  ::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    background: var(--neon-color1) !important;
  }

[class$="-avatarDecoration"]
{
    display: none;
}
/*Member list pfp borders*/
.mask__44b0c foreignObject {
  mask: none;
}
.avatar__44b0c {
  border-radius: 0;
  /*border-bottom-right-radius: var(--avatar-rounded);*/
    /*border: 1px solid var(--neon-red-color);*/
}
.wrapper__44b0c {
  overflow: visible;
  border-radius: 0;
    /*border-bottom-right-radius: var(--avatar-rounded);*/
    /*border: 1px solid var(--neon-red-color);*/
    outline: 1px solid var(--neon-color1);
}




